click
gym>=0.17
gym[classic_control]>=0.17
gym[atari]>=0.17
gym[accept-rom-license]
h5py
jupyter
matplotlib
numpy
pandas
pyyaml
opencv-python
ray[rllib]
scikit-learn
seaborn
starr
tensorflow
tensorflow-probability
trfl
